<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gridview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivitySelectAdd"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragment.FragmentChiTietMilkBinhLuan"></activity>
        <activity android:name=".Fragment.FragmentChiTietMilkGiaoHang" />
        <activity android:name=".Fragment.FragmentChiTietMilkThongTin" />
        <activity android:name=".ChiTietTraSua" />
        <activity android:name=".MainRice" />
        <activity android:name=".Fragment.FragmentRiceGiaoNhanh" />
        <activity android:name=".Fragment.FragmentRiceDanhGia" />
        <activity android:name=".Fragment.FragmentRiceBanChay" />
        <activity android:name=".Fragment.FragmentRiceGanToi" />
        <activity android:name=".MainMilk" />

        <activity android:name=".Fragment.FragmentGiamNhieu" />
        <activity android:name=".Fragment.FragmentDatNhieu" />
        <activity android:name=".Fragment.FragmentGanToi" />
        <activity android:name=".Fragment.FragmentGoiY" />
        <activity android:name=".ChiTietBoSuuTap" />
        <activity android:name=".MainActivityMe" />
        <activity android:name=".MainActivityGioHang" />
    </application>

</manifest>